@mixin g-container($nested: false, $gutter: 30px) {
  display: flex;
  flex-wrap: wrap;
  @if $nested {
    flex: 0 0 100%;
  }
  @else {
    margin: 0 (-$gutter / 2);
  }
}

@mixin g-item($rows: false, $context: 12, $gutter: 30px) {
  @if $rows {
    @if(unitless($rows)) {
      flex: 0 0 percentage($rows / $context);
      max-width: percentage($rows / $context);
    }
    @else {
      flex: 0 0 $rows;
      max-width: $rows;
    }
  }
  @else {
    flex-grow: 0;
    flex-shrink: 0;
  }
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin g-span($rows: false, $context: 12) {
  @if $rows {
    @if(unitless($rows)) {
      flex: 0 0 percentage($rows / $context);
      max-width: percentage($rows / $context);
    }
    @else {
      flex: 0 0 $rows;
      max-width: $rows;
    }
  }
  @else {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@mixin g-gutters($gutter: 30px) {
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin g-push($push, $context: 12) {
  margin-left: percentage($push / $context);
}

@mixin g-pullout($pull, $rows: false, $context: 12, $gutter: 30px, $direction: 'left') {
  @if($direction == 'left' ) {
    margin-left: calc(#{percentage($pull / $context) * -1} - #{$gutter * $pull / $context});
  }
  @else {
    margin-right: calc(#{percentage($pull / $context) * -1} - #{$gutter * $pull / $context});
  }
  @if($rows) {
    width: calc( (100% + #{$gutter}) * #{$rows / $context} - #{$gutter} );
  }
}
