//////////////////////////
// Set an image as cover image
// ---
// @param [bool] $polyfill (true): Is the polyfill at https://github.com/bfred-it/object-fit-images included?
@mixin cover-img($polyfill: true) {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  @if $polyfill {
    font-family: 'object-fit: cover;'
  }
}
